@import url(./styles.scss);
@media (max-width: 1199px) {
  .container {
    max-width: 800px;
  }
  .title, h1 {
    font-size: 40px;
    line-height: 70px;
  }
  .artifacts .artifacts__title {
    font-size: 52px;
  }
  .manifesto .manifesto__main--list {
    min-height: 400px;
    font-size: 41px;
    line-height: 50px;
  }
  .manifesto .manifesto__main--list .manifesto__main--img--bottom, .manifesto .manifesto__main--list .manifesto__main--img--top {
    width: 150px;
  }
  .footer .footer__list {
    width: 100%;
  }
  .footer .footer__list .footer__list--item {
    margin-top: 15px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 700px;
  }
  .title {
    font-size: 28px;
    line-height: 45px;
  }
  .button {
    font-size: 14px;
  }
  .main {
    max-height: 550px;
  }
  .artifacts {
    margin-top: 30px;
  }
  .artifacts .artifacts__title {
    font-size: 38px;
  }
  .about .about__img--item {
    max-width: 33%;
  }
  .manifesto .manifesto__main--list {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
  .title, h1 {
    font-size: 30px;
    line-height: 60px;
  }
  .container {
    max-width: 500px;
  }
  .header {
    padding: 25px;
  }
  .header .header__burgermenu {
    display: block;
  }
  .header .header__burgermenu .header__burgermenu--list {
    display: none;
    min-width: 250px;
    background-color: var(--burgermenu-background-color);
    font-size: 17px;
    line-height: 30px;
    padding: 10px 20px;
  }
  .header .header__burgermenu .header__burgermenu--list .header__burgermenu--item:hover {
    text-decoration: underline;
  }
  .header .header__burgermenu .header__burgermenu--button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 300;
  }
  .header .header__burgermenu .header__burgermenu--button:hover {
    color: var(--burgermenu-color);
  }
  .header .header__links, .header .header__nav {
    display: none;
  }
  .manifesto {
    max-width: 400px;
  }
  .manifesto img {
    max-width: 33%;
  }
  .manifesto .manifesto__main--list {
    font-size: 17px;
    line-height: 10px;
    height: 400px;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 300px;
  }
  .title, h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .button {
    padding: 0px 15px;
    font-size: 15px;
    line-height: 20px;
  }
  .artifacts .artifacts__title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 50px;
  }
  .about .about__img {
    justify-content: center;
    margin-bottom: 30px;
  }
  .about .about__img .about__img--item {
    display: none;
  }
  .about .about__img .about__img--bottom {
    display: inline-block;
    min-width: 100%;
    margin-top: 0;
  }
  .manifesto .manifesto__main {
    justify-content: center;
  }
  .manifesto .manifesto__main img[class^=manifesto__main--img] {
    display: none;
  }
  .manifesto .manifesto__main .manifesto__main--list {
    max-height: 300px;
  }
}/*# sourceMappingURL=responsive.css.map */