:root {
  --background-color: #FCFAF8;
  --text-color: #000000;
  --shadow-color: #F4EDE6;
  --background-image: "./img/mainBaner.png";
}

body {
  font-family: "Cardo";
  font-size: 17px;
  line-height: 25px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.button {
  padding: 0px 25px 0px 25px;
  border: 1px solid;
  border-radius: 15px;
  font-size: 17px;
  line-height: 25px;
  cursor: pointer;
  background-color: var(--background-color);
}
.button:hover {
  box-shadow: 3px 5px 4px var(--shadow-color);
}
.button:active {
  background-color: var(--shadow-color);
}

.title, h1 {
  font-family: "Roboto";
  font-size: 50px;
  line-height: 80px;
  font-weight: 400;
}

.container {
  margin: 70px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.header .header__nav, .header .header__links {
  display: flex;
  justify-content: space-between;
  font-family: "Lato";
  font-size: 15px;
  line-height: 24px;
  list-style: none;
  min-width: 35%;
}
.header .header__nav--item, .header .header__links--item {
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 720px;
  background-color: transparent;
  background-image: url(../img/mainBaner.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-top: -85px;
}
.main .main__title {
  text-align: center;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: 15px;
}

.artifacts {
  margin: 100px 70px 50px 70px;
}
.artifacts .artifacts__title {
  display: block;
  margin-bottom: 70px;
  font-size: 72px;
  font-weight: 300;
  max-width: 745px;
}
.artifacts .artifacts__button {
  padding-top: 3px;
  padding-bottom: 3px;
}

.about {
  margin-bottom: 50px;
}
.about .about__img {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.about .about__img .about__img--item {
  padding: 5px;
  width: 30%;
  margin-bottom: 70px;
}
.about .about__img .about__img--bottom {
  width: 40%;
  margin-top: 150px;
  margin-bottom: 0;
}
.about .about__text--paragraf {
  margin-top: 20px;
}
.about .about__text--button {
  margin-top: 20px;
}

.manifesto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.manifesto .manifesto__paragraf {
  display: block;
  text-align: center;
  max-width: 315px;
}
.manifesto .manifesto__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  min-width: 100%;
}
.manifesto .manifesto__main .manifesto__main--img--top {
  align-self: flex-start;
}
.manifesto .manifesto__main .manifesto__main--img--bottom {
  align-self: flex-end;
}
.manifesto .manifesto__button {
  margin-top: 70px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects .projects__title {
  font-family: "Roboto";
  font-weight: 400;
}
.projects .projects__paragraf {
  max-width: 850px;
  margin-top: 25px;
}
.projects .projects__list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.projects .projects__list .projects__list--item {
  max-width: 30%;
}
.projects .projects__list .projects__list--item .projects__list--item--paragraf {
  margin-top: 15px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .services__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.services .services__list .services__list--item {
  margin: 50px 10px 0 10px;
  max-width: 320px;
}
.services .services__list .services__list--item .services__list--item--title {
  font-family: "Roboto";
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}
.services .services__paragraf {
  margin-top: 70px;
}
.services .services__button {
  margin-top: 40px;
}/*# sourceMappingURL=styles.css.map */